body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #f0f4c3;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2068ec;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #f8f6f4;
  color: #362c29;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

main {
  margin-top: 20px;
}

.quote {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 24px;
}

.story-section {
  margin-bottom: 40px;
}

.story-section h2 {
  text-align: center;
  color: #e64a19;
  font-size: 28px;
  margin-bottom: 20px;
}

.story-section .story {
  background-color: #ec456c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-size: 20px;
}

.video-section {
  text-align: center;
  margin-bottom: 40px;
}

.video-section h2 {
  color: #a9f90a;
  font-size: 28px;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.music-control {
  text-align: center;
  margin: 20px 0;
}

.music-control button {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.music-control button:hover {
  background-color: #d84315;
}

.progress-bar-container {
  margin: 20px auto;
  width: 80%;
  height: 20px;
  background-color: #91f715;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  height: 100%;
  background-color: #ff6f00;
  width: 0;
  border-radius: 10px;
  transition: width 1s;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #380aa4;
  color: white;
  border-radius: 0 0 10px 10px;
}

.hidden {
  display: none;
}