.page-container {
  font-family: Arial, sans-serif;
  background-color: #d025d3;
  margin: 0;
  padding: 0;
}

header {
  background-color: #edecf1;
  color: #1750ac;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
}

.quote {
  text-align: center;
  padding: 20px;
  font-style: italic;
  font-size: 1.2em;
}

.story-section, .video-section, .audio-section {
  padding: 20px;
}

.story-section h2, .video-section h2, .audio-section h2 {
  font-size: 2em;
  color: #225319;
}

.story {
  margin-bottom: 20px;
}

.story h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.video-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.audio-container {
  text-align: center;
  margin-top: 20px;
}

.play-button {
  background-color: #ffcc00;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1.5em;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.play-button:hover {
  background-color: #e6b800;
}

.progress-bar-container {
  width: 80%;
  height: 20px;
  background-color: #1cf427;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px auto;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.progress-bar {
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.3s;
}

.time-display {
  font-size: 1em;
  margin-top: 10px;
}

footer {
  background-color: #433dbf;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}
