body {
    background-color: #e0f7fa; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.body-content {
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Zentriert den Text */
}

.image-container {
    margin-top: 20px;
}

.beautiful-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}