body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.game-container {
  max-width: 1200px; /* Increased size */
  margin: 20px auto;
  padding: 30px; /* Increased padding */
  background-color: #f2fa0b; /* Bright background color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 3rem; /* Larger font size */
  color: #2a2525;
  margin-bottom: 20px;
}

p {
  font-size: 2rem; /* Larger font size */
  color: #f7f1f1;
}

input[type="number"] {
  font-size: 2rem; /* Larger font size */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 100px;
  text-align: center;
}

.answer-button {
  font-size: 2rem; /* Larger font size */
  padding: 15px 30px; /* Increased padding */
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.answer-button:hover {
  background-color: #45a049;
}

.feedback {
  font-size: 7rem; /* Larger font size */
  color: #9422ff;
  margin-top: 15px;
}

.navigation-buttons {
  margin-top: 20px;
}

.nav-button {
  font-size: 2rem; /* Larger font size */
  padding: 15px 30px; /* Increased padding */
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #303f9f;
}

.progress-bar {
  background-color: #7cecee;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.progress {
  height: 30px; /* Increased height */
  background-color: #4caf50;
}

.emoji-container {
  font-size: 3rem; /* Larger font size */
  margin-top: 20px;
}