.game-container {
  background-color: #8c2bb9;
  border: 2px solid #6c10ae;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.game-container h2 {
  color: #131212;
  font-size: 2em; 
}

.game-container p {
  font-size: 1.5em; 
}

.question-text {
  font-size: 2em; 
}

.feedback-text {
  font-size: 1.5em; 
}

.game-container img {
  width: 100px;
  height: auto;
  margin: 20px 0;
}

.game-container input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #b6ee27;
  font-size: 1.5em; 
}

.game-container button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #d7f20c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em; 
}

.game-container button:hover {
  background-color: #218838;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.navigation-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons button:disabled {
  background-color: #6c757d;
}

.progress-bar {
  width: 100%;
  background-color: #d0e055;
  border-radius: 5px;
  margin-top: 20px;
}

.progress {
  height: 20px;
  background-color: #34bc3b;
  border-radius: 5px;
}

.emoji-container {
  margin-top: 20px;
  font-size: 2.5em; 
  color: #28a745;
}