.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(15px + 2vmim);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-fade-in {
    animation: fade-in 1s ease-in-out;
}
@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

.header-light, .footer-light, .main-light {
  background-color: white;
  color: black;
}

.header-dark, .footer-dark, .main-dark {
  background-color: black;
  color: white;
}








  

